page-multi-login {
    .content{
        background-color: $primary !important;
    }

    .brand {
        margin-top: 15%;
        margin-bottom: 6%;
        .logo {
            width: 80px;
        }
    }
        
    .segment-md-dark .segment-button {
        color: $secondary;
    }
 
    ion-card {
        min-height: 240px;
        .button {
            margin-top: 10%;
        }
        .terms {
            color: $secondary;
            font-size: 10px;
            text-align: center;
            margin-top: 20px;
        }
        .otp-message {
            font-size: 12px;
            color: $primary;
            text-align: center;
            font-weight: bold;
            margin: 20px 0;
        }
    }
    .item-inner {
        border-bottom: none !important;
    }

    ion-item {
        border: 1px solid $secondary !important;
        margin: 10px 0 !important;
    }

    .controls {
        text-align: center;
        color: $white;
        font-weight: lighter;

        .col {
            padding: 0;
            margin: 0;
        }
    }

 
    .label {
        color: $primary !important;
    }

    .button.eye {
        color: $primary;
        font-size: 1em;
    }

    #my-recaptcha-container {
        visibility: hidden;
    }
    
}
