page-raters {
	.content {
		background-color: $light-grey !important;
    }
    
	ion-segment-button {
		color: $secondary !important;
	}
	.toolbar-ios .segment-button {
        max-width: 100% !important;
	}

    p {
		color: $primary !important;
		i {
			margin: 10px 4px 10px 0 !important;
		}
    }
    
	.list-ios, .list-md {
		margin: 0;
	}
}
