<ion-header>
  <ion-navbar color="dark">
    <ion-title>Categories</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismissModal()">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-item *ngFor="let category of categories" (click)="selectCategory(category)">
    <i class="{{category.icon}}"></i>{{category.name}}
  </ion-item>
</ion-content>
