page-appointments {
	.content {
		background-color: $light-grey !important;
	}

	ion-segment-button {
		color: $secondary !important;
	}

	.toolbar-ios .segment-button {
        max-width: 100% !important;
	}
	
	.list-ios, .list-md {
		margin: 0;
	}

	p {
		color: $primary !important;
		i {
			margin: 10px 4px 10px 0 !important;
		}
	}
	
	h2 {
		font-weight: normal !important;
		color: $dark;
	}

	ion-list {
		margin: 0 !important;
	}

	ion-item {
		background-color: $white;
		color: $primary;
		border-radius: 0 !important;
		margin: 0 !important;
		border: 1px solid $secondary !important;
		min-height: 90px !important;
	}
}
