page-appointments {
	.content {
		background-color: $light-grey !important;
	}
	ion-segment-button {
		color: $white !important;
	}

	.segment-ios {
		.segment-button {
			border-color: $white !important;
			color: #fff;
			&.segment-activated {
				background-color: #c03633 !important;
			}
		}
	}
	.list-ios, .list-md {
		margin: 0;
	}

	i {
		margin-right: 5px !important;
	}
	h2 {
		font-weight: bold !important;
		color: $dark;
	}

	ion-list {
		margin: 0 !important;
	}
	ion-item {
		background-color: $white;
		color: $primary;
		border-radius: 0 !important;
		margin: 0 !important;
		border: 1px solid $secondary !important;
		min-height: 90px !important;
	}
}
