page-success {

    .content{
        background-color: $primary !important;
    }

    .brand {
        margin-top: 15%;
        margin-bottom: 6%;
        .logo {
            width: 100px;
        }
    }
        
}
