page-test-ui {
    .toolbar-background {
        border-style: none !important;
        background-color: $white !important;
    } 
 
    .bar-button-default-ios, .bar-button-default-md, .toolbar-title {
        color: $primary !important;
    }
 
    .header-md::after, .header-ios::after {
        height: 0;
    }

    .content {
        background-color: #f4f4f4;
    }
 
    .top{
        text-align: center;
        color: $primary;
        border-top: 2px solid #c9b177;
        padding-top: 10px;
        // margin: 20px 10px;
        .card {
            padding-top: 20px;
            padding-left: 10px;
        }
        p{
            margin: 0 !important;
            font-size: .8em;
            padding-bottom: 10px !important;
            color: $dark;
        }
        h2{
            margin: 0;
            font-size: 1.4em;
            font-weight: bold;
        }
        img{
            border: 2px solid $primary;
            padding: 2px;
            margin-left: 10px;
            width: 60px;
            height: 60px;
            // margin: 40px 0 10px 0;
            border-radius: 100%;
        }
        .col {
            padding: 0;
        }
        .summary{
            color: $secondary;
            padding: 0.5em 0.6em;
            padding-bottom: 20px;
        }
        .button{
            border: 1px solid $secondary;
        }

        .profile {
            text-align: left !important;
            .row {
                padding-bottom: 0 !important;
            }
        }

        .rating {
            float: right;
            .star-icon {
                font-size: 1em !important;
                color: $primary !important;
            }
            .star-icon:before {
                color: $primary !important;
            }
        }

        .contacts {
            color: $dark;
            // border-top: 1px solid #c4a969;
            padding: 14px 0;
            i {
                font-size: 14px;
                color: $primary;
                padding-right: 4px;
            }
            span {
                font-size: 14px;
            }
            .left {
                text-align: left;
                padding-left: 20px;
            }
            .right {
                text-align: right;
                padding-right: 20px;
            }
        }
    }

    .item.item-divider{
        color: $dark;
        font-weight: bold;
        background-color: $light-grey;
        border-bottom: 2px solid $primary;
        i {
            font-size: 18px;
        }
    }
    .profile {
        font-size: 14px !important;
        .item-inner {
            border-bottom: 1px solid $light-grey !important;
        }
        img {
            width: 30px !important;
        }
        ion-badge {
            padding: 8px;
        }
        i {
            color: $primary;
            font-size: 18px;
            width: 26px;
        } 
    }

    .skills {
        .item-inner {
            border-bottom: 1px solid $light-grey !important;
        }
        img {
            width: 26px;
        }
        ion-badge {
            padding: 6px;
        } 
        i {
            color: $primary;
        }  
        ion-label {
            h2 {
                font-size: 14px !important;
                padding-bottom: 4px;
            }
            p {
                font-size: 12px !important;
                
            }
        }
    }
    .address p{
        font-weight: normal !important;
    }
}
